@import './ColorStyles.scss';

.allprojects {
    width: 100%;
    padding: 0 4.5em;
}

.container1 {
    margin-top: 1rem;
    justify-items: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1em;
    color: $green-200;
}

h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    color: $green-200;
}

.card1{
gap: 4em;
//display: flex;
display: grid;
grid-template-columns: repeat(3, 0.31fr);
}

.pro-card {
    margin-right: 0px;
    border: 0.5px solid $white-500;
    border-radius: 1em 0 1em 1em;
  //  box-shadow: 0 1px 10px $green-25;
    width: 300px;
    height: 400px;

    &:hover{
        border: 0.5px solid $green-200;
    }
 
}

hr{
    margin: 0em 1em;
}

a{
    font-size: 13px;
    color: $green-100;

&:hover{
    color: $green-200;
}

}

.prev{
    list-style: none;
    gap: 1em;
    padding: 0em 1em;
    display: flex;
    color: $green-100;
}


.div-link{
    display: flex;
    gap: 4em;
    margin: 20px 0px 0 20px;
    text-align: center;
}

.div-imglink{
    display: flex;
    gap: 0.5em;
}

.img-size{
    width: 100%;
    background-color: $white-500;
    border-radius: 1em 0em 1em 0em;
    height: 30vh;
}


@media screen and (max-width: 940px) {
    .allprojects .container {
        width: 100%;
    }

    .allprojects .container .content {
        grid-template-columns: 1fr;
    }

    .allprojects .card {
        max-width: 100%;
        margin: 1rem;
    }
}



