//main colors//
$black-500: #161616;
$white-500: #ffffff;

//sec color shades//
$green-400: #041203;
$green-300: #0f4a0c;
$green-200: #166e11;
$green-100: #7cd477;
$green-50: #a8e3a5;
$green-25: #d3f1d2;

