@import './ColorStyles.scss';

.footer {
    width: 100%;
    color: $white-500;
    overflow: hidden;

}


.footer ul {
    display: flex;
    align-self: center;
    justify-content: center;

}

.footer li {
    padding: 0rem 1rem;
    list-style: none;
}

.footer li a {
    color: #fff;
    text-decoration: none;
}

.footer li a:hover {
    padding-bottom: 2em;
    text-decoration: underline;
}

.bottom {
    text-align: center;
    color: white;
margin-left: 25px;
    padding-top: 1em;
}






