@import './ColorStyles.scss';

.skills-page{
    width: 100%;
padding: 0em 4.5em;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

.skills-list{
    display: flex;
    gap: 2em;
}

.space{
    display: flex;
    //gap: 5em;
}
.line, .line2{
    color: $green-100;
}

.lang{
    margin-left: 17em;
text-align: end;
}

.llist{
    display: flex;
    gap: 2em;
   margin-top: 2em;

    li{
        color: $white-500;
        list-style: circle;

    }
}

.card {
    border: 1px solid $green-300;
    border-radius: 0px 50px;
    box-shadow: 0 1px 10px $green-25;
    height: 400px;
    width: 73.5em;
    display: flex;
}

.skills-page img {
    border-radius: 20px;
  //  background-color: red;
    height: 40px;
}


 p {
    color: $white-500;
    font-size: 1.1rem;
    margin: 12px;
}

.div-skills{
   // display: flex;
    gap: 1em;
    margin: 1em 2em;
}

 .skills-page .ppit{
    font-size:20px;
    color: $white-500;
    margin-left: 20px;
}

.div-one{
    gap: 1em;
    display: flex;
}

.name-list{
    color: $green-200;
    font-weight: 600;
    font-size: 20px;
}

.circle-skills{
border-radius: 16px;
text-align: center;
padding: 10px;

background-color: $white-500;
    color: $green-200;
}

@media screen and (max-width: 940px) {
    .allprojects .container {
        width: 100%;
    }

    .allprojects .container .content {
        grid-template-columns: 1fr;
    }

    .allprojects .card {
        max-width: 100%;
        margin: 1rem;
    }
}



