@import './ColorStyles.scss';

.summary {
  height: 100vh;
  display: flex;
  gap: 40px;
  padding: 0em 4.5em;
}

.summary:before {
  content: "";
  //  background: url('../assets/img_0558.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 5px;
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
  color: $green-200;
}

.div-about {
  display: flex;
  gap: 20px;
}

.p1,
.p2,
.p3 {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  color: $white-500;

}
.summary{
  margin: 1rem 0;
}
.content  {
  align-self: center;

}

.button1 {
  width: 150px;
  align-self: center;
  margin-top: 2em;
  display: flex;
  font-size: 14px;
  align-items: center; /* Align items vertically */

  img {
    margin-left: 1em;
    align-self: center;
    width: 20px; /* Specify width for the image */
    height: 20px; /* Specify height for the image */
    transition: filter 0.3s ease; // Add transition for smooth effect
    outline: none; /* Remove default outline for all images */
    filter: brightness(1) invert(1); // Apply filter to invert image color


  }

  &:hover img {
    filter: brightness(0) invert(1);
  }
}


.Profile-Card {
  margin-top: 160px;
 // width: 300px;
  background-color: $green-300;
  height: 320px;
  border-radius: 1em;
}

.side-by-side {
  display: flex;
  gap: 10px;
}

.circular-image {
  background: url("../assets/pic1b.jpg") no-repeat center center/cover;
  width: 250px; // Adjust the container width
  height: 270px; // Adjust the container height
  border-radius: 5% 15%; // Make the container circular
  overflow: hidden;
  border: 1px solid $green-100;
  align-self: center;

  //  position: relative;
}


.p-name{
  text-align: center;
    color: $white-500;
    margin-left: 5px;
}


.left-side {
  align-self: center; //downup
  padding: 0em 0.5em;
}

.con-but {
  display: flex;
gap: 15px;

}
.contact-button {
  background-color: transparent;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 30%;

 img {
  width: 20px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */

}

&:hover {
  filter: brightness(80%); /* Example hover effect */
  //  filter: brightness(1) invert(1);
}
}


.my-stuff{
  padding-top: 75px;
}
.download-cv,
.hire-me {
  width: 145px;
  height: 40px;
  background-color: white;
  border: 1px solid $green-100;
  border-radius: 5px 10px; // Make the button round
  color: $green-200; // Set text color
  cursor: pointer;
  margin-top: 10px;

  button:hover{
    color: $white-500;
  }
}

@media screen and (max-width: 940px) {
  .hero .content p:nth-child(2) {
    font-size: 2.3rem;
  }

  .circular-image {
    margin-left: 0; // Remove the margin on smaller screens
  }
}
